.coloured-logo {
  max-width: 25vw;
}

.logo-monochrome {
  max-width: 25vw;
}

.logo-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.logo-triangle {
  fill:#DCDBB3;
}

.logo-dog-outline {
  fill: #C17606;
}

.logo-triangle:hover {
  fill:yellow;
}